{name, "lfe"}.
{authors, ["Robert Virding <rvirding@gmail.com>"]}.
{description, "Lisp Flavoured Erlang (LFE)"}.
{homepage, "https://github.com/rvirding/lfe"}.
{rebar_compatible, true}.
{license, "BSD2", "COPYRIGHT"}.
{url, {git, "https://github.com/rvirding/lfe.git", {branch, "develop"}}}.
{applications, [lfe]}.
{install_command, "$AGNER_PACKAGE_REPO/install.sh"}.
{bin_files, ["bin/lfe"]}.
